header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}
.container {
  margin-top: 75px;
}
.container.csv {
  margin-top: 110px;
}

@media (max-width: 768px) {
  .container {
    margin-top: 180px;
  }
  .container.csv {
    margin-top: 200px;
  }
  .container.documentation {
    margin-top: 150px;
  }
}

.name-of-torrent {
  color: #337ab7;
}
th,
td {
  /* user-select: none; */
}
.container .text-container {
  display: flex;
  flex-wrap: wrap;
}

.container .text-container div {
  margin: 1px;
  height: 100%;
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  background-color: #337ab7;
  /* background-color: #007bff; */
  /* background: red; */
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
pre,
.pre-content {
  /* border-radius: 2.5%; */
  background: rgb(231, 226, 226);
}

.form-control {
  border-radius: 0.25rem 0 0 0.25rem;
}
footer {
  margin-top: 50px;
}
/* footer {
  position: fixed;
  top: 90%;
  left: 50%;
  transform: translate(-90%, 0);
} */
.page-404 {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.admin-panel {
  /* BASIC */
  /* background-color: #56baed; */
}
.admin-panel .container {
  /* margin-top: 200px; */
}
.admin-panel .container a {
  color: #92badd;
  display: inline-block;
  text-decoration: none;
  font-weight: 400;
}
.admin-panel .container h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}
.admin-panel .container .fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.admin-panel .container .wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}
.admin-panel .container .wrapper #formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  /* padding: 0px; */
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}
.admin-panel .container .wrapper #formContent .fadeIn {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}
.admin-panel .container .wrapper #formContent .fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.admin-panel .container .wrapper #formContent .fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.admin-panel .container .wrapper #formContent .fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
.admin-panel .container .wrapper #formContent .fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.admin-panel .container .wrapper #formContent .underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}
.admin-panel .container .wrapper #formContent .underlineHover:hover {
  color: #0d0d0d;
}
.admin-panel .container .wrapper #formContent .underlineHover:hover:after {
  width: 100%;
}
.admin-panel .container .wrapper #formContent h2.inactive {
  color: #cccccc;
}
.admin-panel .container .wrapper #formContent h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #5fbae9;
}
.admin-panel .container .wrapper #formContent input[type="button"],
.admin-panel .container .wrapper #formContent input[type="submit"],
.admin-panel .container .wrapper #formContent input[type="reset"] {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.admin-panel .container .wrapper #formContent input[type="button"]:hover,
.admin-panel .container .wrapper #formContent input[type="submit"]:hover,
.admin-panel .container .wrapper #formContent input[type="reset"]:hover {
  background-color: #39ace7;
}
.admin-panel .container .wrapper #formContent input[type="button"]:active,
.admin-panel .container .wrapper #formContent input[type="submit"]:active,
.admin-panel .container .wrapper #formContent input[type="reset"]:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}
.admin-panel .container .wrapper #formContent input[type="text"],
.admin-panel .container .wrapper #formContent input[type="password"] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.admin-panel .container .wrapper #formContent input[type="text"]:focus,
.admin-panel .container .wrapper #formContent input[type="password"]:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}
.admin-panel .container .wrapper #formContent input[type="text"]:placeholder,
.admin-panel
  .container
  .wrapper
  #formContent
  input[type="password"]:placeholder {
  color: #cccccc;
}
.admin-panel .container .wrapper #formContent #formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}
.admin-panel body {
  /* font-family: "Poppins", sans-serif; */
  height: 100vh;
}

@media screen and (max-width: 480px) {
  .fadeIn {
    padding: 15px 30px !important;
  }
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* OTHERS */

*:focus {
  outline: none;
}

.admin-panel #icon {
  width: 60%;
}

/*ПАНЕЛЬ ДЛЯ ЮЗЕРА*/
.panel-for-user {
  padding-top: 0;
}
.panel-for-user .header-class {
  margin: unset !important;
}
